# Web 포트 설정
WEB_PORT=8089
DEV_WEB_PORT=8090

# Database 포트 설정
DB_PORT=3307

# Python 서버 TEST 포트
BOT_TEST_PORT_01=1481
BOT_TEST_PORT_02=1482
BOT_TEST_PORT_03=1483

# Python 서버 LIVE 포트
BOT_LIVE_PORT_01=1491
BOT_LIVE_PORT_02=1492
BOT_LIVE_PORT_03=1493

# Database 설정
MYSQL_ROOT_PASSWORD=jtmariadbroot$@

# Python 서버 모드
TEST_MODE=test
LIVE_MODE=production